<div class="text-center">
    <h1 class="display-4 letra">Soy <b>Hanser Pimentel</b>  </h1>
<h4 class ="letra"> Desarrollador en ASP.Net Core </h4>

<img id="foto"
     src="~/Imagenes/Foto_presentacion.jpg" alt=" Foto Hanser" />
</div>



<div class=" row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-sobre_mi">
        <h4 class="">Sobre mi</h4>
        <p>
            Soy un desarrollador en .NET apasionado por el aprendizaje y la implementación
            de soluciones tecnológicas eficaces. Aunque actualmente no tengo experiencia profesional
            en el campo, he adquirido un sólido conocimiento en las siguientes áreas:
        </p>

    </div>
</div>