@model IEnumerable<ProyectosModels>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem">
        <h2 class="letra">Mis trabajos mas recientes</h2>
        <p class="letra">Aqui puedes ver mis trabajos mas recientes </p>
    </div>
    <partial name="_ListadoProyectos" model="Model" />

}