@{
    ViewData["Title"] = "Gracias";

}

<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-sm-6 col-md-6 text-white mx-auto p-4 glass-effect">
        <h1>Gracias por mostrar interés</h1>
        <p>Me pondré en contacto contigo lo antes posible</p>
        <div><a asp-action="Index" asp-controller="Home">Volver al Home</a></div>
    </div>
</div>